body{
    background-color: #fff;
    font-family: "Roboto", sans-serif; 
    color: #434455;
     }
     *,
     *::before,
     *::after {
     box-sizing: border-box;
     }
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
     margin: 0;
     }
    .container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
    .header-container{
     display: flex;
     align-items: center; 
    }
    .navigetion{
     display: flex;
     align-items: center;
    }
    .header{
    color: #2e2f42;
    border-bottom: 1px solid #E7E9FC;
    }
    .header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    }
    .heder-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    }
    a{
    text-decoration: none;
    }
    p{
      margin: 0;
      padding: 0;
      display: flex;
     align-items: center;
    }   
    
    ul {
      margin: 0;
      padding: 0;
     list-style: none;
    }
    .nav-list{
      display: flex;
      gap: 40px;
    }
    .nav-menu{
    color: #2e2f42; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: auto;
    display: block; 
    padding: 24px 0; 
     }
     .nav-menu:hover,
     .nav-menu:focus{
     color: #404bbf;
     }
     .address{
    font-style: normal;
    margin-left: auto;
    
     }
     .address-list{
      display: flex;
      gap: 40px;
     }
    .nav-menu-address{
    display: flex; 
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block; 
    padding: 24px 0;
    }
    .nav-menu-address:hover,
    .nav-menu-address:focus{
    color: #404bbf;    
    }
    
    .caption{
    background-color: #2e2f42;
    max-width: 1440px; 
    padding: 28px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
      
    }
    .caption-tekst{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

    }
    .button{
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer; 
    color: #fff; 
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    
    }
    .button:hover,
    .button:focus{
     background-color: #404BBF;
    }
    .options{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
    }
    .options-list {
    display:flex;
    flex-direction: row; 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .options-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .our-team{
    
    background: #f4f4fd; 
    }
    .our-team-titel{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    }
    .our-team-card{
    background-color: #FFFFFF; 
    display: block;
    height: auto;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    justify-content: space-around;
    align-items: center;
    }
    .our-team-list {
    margin-bottom: 8px; 
    text-align: center;
    display:flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;    
    }
    .our-team-text {
     text-align: center; 
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;      
    }
    
    .our-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;    
    }
    .our-portfolio-img{
    list-style: none;
    display: block;
    max-width: 100%;
    height: auto; 
    justify-content: space-around;
    align-items: center;
       
    }
    .our-portfolio-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;    
    }
    .our-portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .footer{
    
    background: #2e2f42;    
    }
    .footer-logo{
    font-family: "Raleway", sans-serif;   
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
    }
    .footer-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;    
    }
    .footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;    
    }